# Dependencies
node_modules/
*/node_modules/

# Production builds
dist/
frontend/dist/

# Environment files
.env
*.env
backend/.env
.env.local

# Logs
*.log

# OS generated
Thumbs.db
.DS_Store

/backups/
